body.space {
	overflow: hidden; /* anything that exceeds the bounds of the screen will be hidden */
	background: url('images/bg.jpg');
	background-size: cover;
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center; /* centers all children along a single axis */
	justify-content: center;
}

#mainContent {
	position: relative;
	width: 800px;
	height: 800px;
	display: flex; /* centers the main content pane itself */
	justify-content: center;
	align-items: center;
}

.planets {
	position: absolute;
	top: 5%;
	left: 50%;
}
.sun{
	position:absolute;
}
/*all the animation lelele*/
@keyframes move_sun{
	0% {
        transform: translateX(0px) rotate(0deg);
    }
    100% {
        transform: translateX(0px) rotate(360deg);
    }
}
@keyframes move_mercury{
	0% {
        transform: rotate(0deg) translateX(300px);
    }
    100% {
        transform:rotate(360deg) translateX(300px);
    }
}
@keyframes move_venus{
	0% {
        transform:rotate(0deg) translateX(400px);
    }
    100% {
        transform: rotate(360deg) translateX(400px);
    }
}
@keyframes move_earth{
	0% {
        transform:rotate(0deg) translateX(500px);
    }
    100% {
        transform:rotate(360deg) translateX(500px);
    }
}
@keyframes move_mars{
	0% {
        transform:rotate(0deg) translateX(600px);
    }
    100% {
        transform:rotate(360deg) translateX(600px);
    }
}
@keyframes move_jupiter{
	0% {
        transform:rotate(0deg) translateX(700px);
    }
    100% {
        transform:rotate(360deg) translateX(700px);
    }
}
@keyframes move_saturn{
	0% {
        transform:rotate(0deg) translateX(800px);
    }
    100% {
        transform:rotate(360deg) translateX(800px);
    }
}
@keyframes move_uranus{
	0% {
        transform:rotate(0deg) translateX(900px);
    }
    100% {
        transform:rotate(360deg) translateX(900px);
    }
}
@keyframes move_neptune{
	0% {
        transform:rotate(0deg) translateX(1000px);
    }
    100% {
        transform:rotate(360deg) translateX(1000px);
    }
}
@keyframes move_ouji{
	0% {
        transform:rotate(0deg) translateX(3700px);
    }
    100% {
        transform:rotate(360deg) translateX(3700px);
    }
}
@keyframes move_velvet{
	0% {
        transform:translateX(-1000vw);
		opacity: 1;
    }
    100% {
        transform:translateX(1000vw);
		opacity:1;
    }
}
@keyframes move_rocket{
	0% {
        transform:translateX(-1000vw);
		opacity: 1;
    }
    100% {
        transform:translateX(1000vw);
		opacity:1;
    }
}
/*all my lil planets*/
#sun{
	animation: move_sun 20s infinite linear;
	top: 0px;
	left: 430px;
}
#mercury{
	animation: move_mercury 2.4s infinite linear;
	top: 200px;
	left: 580px;
}
#venus{
	animation: move_venus 6.2s infinite linear;
	top: 200px;
	left: 600px;
}
#earth{
	animation: move_earth 10s infinite linear;
	top: 200px;
	left: 600px;
}
#mars{
	animation: move_mars 18.8s infinite linear;
	top: 200px; 
	left: 600px;
}
#jupiter{
	animation: move_jupiter 118.6s infinite linear;
	top: 200px;
	left: 600px;
}
#saturn{
	animation: move_saturn 294.6s infinite linear;
	top: 200px;
	left: 600px;
}
#uranus{
	animation: move_uranus 840.2s infinite linear;
	top: 200px;
	left: 600px;
}
#neptune{
	animation: move_neptune 1647.9s infinite linear;
	top: 200px;
	left: 600px;
}
#ouji{
	animation: move_ouji 1700s infinite linear;
	top: -100px;
	left: 300px;
	scale:30%
}
#velvet{
	animation: move_velvet 10s infinite linear;
	top: -1000px;
	left: 600px;
	scale: 50%;
}
#ohar{
	animation: move_ohar 25s infinite linear;
	top: -1000px;
	left: 600px;
	scale: 50%;
}
#rocket{
	animation: move_rocket 20s infinite linear;
	top: -1200px;
	left: 2000px;
	scale: 10%;
	rotate:-90deg;
}






