body.space {
	overflow: hidden; /* anything that exceeds the bounds of the screen will be hidden */
	background: url('images/bg.jpg');
	background-size: cover;
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center; /* centers all children along a single axis */
	justify-content: center;
}

#mainContent {
	position: relative;
	width: 800px;
	height: 800px;
	display: flex; /* centers the main content pane itself */
	justify-content: center;
	align-items: center;
}

.planets {
	animation: move_planet 6s infinite ease-in-out;
	position: absolute;
	top: 5%;
	left: 50%;
}
.sun{
	position:absolute;
}
#mercury{
	animation: move 10s infinite linear;
}
.venus{

}
.earth{

}
.mars{

}
.jupiter{

}
.saturn{

}
.uranus{

}
.neptune{

}
@keyframe {
	0%{
		transform: translateX(300px) rotate(0deg);
	}
	25%{

	}
	50%{

	}
	75%{

	}
	100%{

	}
}