body.space {
	overflow: hidden; /* anything that exceeds the bounds of the screen will be hidden */
	background: url('images/bg.jpg');
	background-size: cover;
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center; /* centers all children along a single axis */
	justify-content: center;
}

#mainContent {
	position: relative;
	width: 800px;
	height: 800px;
	display: flex; /* centers the main content pane itself */
	justify-content: center;
	align-items: center;
}

.planets {
	position: absolute;
	top: 5%;
	left: 50%;
}
.sun{
	position:absolute;
}

@keyframes move_mercury{
	0% {
        transform: translateX(550px) rotate(0deg);
    }
    100% {
        transform: translateX(550px) rotate(360deg);
    }
}
@keyframes move_venus{
	0% {
        transform: TranslateX(200px) rotate(0deg);
    }
    100% {
        transform: TranslateX(0px) rotate(90deg);
    }
}
@keyframes move_earth{
	0% {
        transform: TranslateY(0px) rotate(0deg);
    }
    100% {
        transform: TranslateY(0px) rotate(90deg);
    }
}
@keyframes move_mars{
	0% {
        transform: TranslateY(0px) rotate(0deg);
    }
    100% {
        transform: TranslateY(0px) rotate(90deg);
    }
}
@keyframes move_jupiter{
	0% {
        transform: TranslateY(0px) rotate(0deg);
    }
    100% {
        transform: TranslateY(0px) rotate(90deg);
    }
}
@keyframes move_saturn{
	0% {
        transform: TranslateY(0px) rotate(0deg);
    }
    100% {
        transform: TranslateY(0px) rotate(90deg);
    }
}
@keyframes move_uranus{
	0% {
        transform: TranslateY(0px) rotate(0deg);
    }
    100% {
        transform: TranslateY(0px) rotate(90deg);
    }
}
@keyframes move_neptune{
	0% {
        transform: TranslateY(0px) rotate(0deg);
    }
    100% {
        transform: TranslateY(0px) rotate(90deg);
    }
}

#mercury{
	animation: move_mercury 6s infinite linear;
	top: 200px;
	left: 340px;
}
#venus{
	animation: move_venus 6.2s infinite linea;
	top: 200px;
	left: 270px;
}
#earth{
	animation: move_earth 10s infinite linea;
	top: 200px;
	left: 200px;
}
#mars{
	animation: move_mars 19s infinite linea;
	top: 200px; 
	left: 150px;
}
#jupiter{
	animation: move_jupiter 118s infinite linea;
	top: 200px;
	left: 70px;

}
#saturn{
	animation: move_saturn 295s infinite linea;
	top: 200px;
	left: -20px;
}
#uranus{
	animation: move_uranus 841s infinite linea;
	top: 200px;
	left: -100px;
}
#neptune{
	animation: move_neptune 1649s infinite linea;
	top: 200px;
	left: -170px;
}